@model PI3.Entidades.Pets

<link rel="stylesheet" href="~/css/outrocss.css">

<div class="d-flex min-vh-100 justify-content-center align-items-center">
    <form action="/Pets/SalvarDados" method="post" enctype="multipart/form-data" class=" FormEdit m-5 border border-dark-subtle rounded-5">
        <div id="input" class="row d-flex align-items-center ">
            <div class="col-md d-none  d-lg-block">
                <img class="img-fluid" src="/img/PETS/Editpet.png">

            </div>
            <div class="col-md ">
                <h2 class="txt-titulo">Editar</h2>
                <div class="d-grid gap-1 me-3">
                    <input type="hidden" value="@Model.UsuarioId" name="UsuarioId" />
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <label>Nome</label>
                    <input type="text" class="form-control cor-input rounded-4" value="@Model.NOME" name="NOME" id="nome">

                    <label>Raça</label>
                    <input type="text" class="form-control cor-input rounded-4" value="@Model.RACA" name="RACA" id="RACA">
                    
                    <input type="hidden" name="CaminhoImagem" value="@Model.CaminhoImagem" />
                    <label>Foto</label>
                    <input name="Imagem" type="file" id="" class=" cor-input form-control rounded-5">

                    <label>Peso</label>
                    <input type="text" class="form-control cor-input rounded-4" value="@Model.PESO" name="PESO" id="PESO">

                    <div class="col-sm">
                        <label>Data Nascimento</label>
                        <input type="date" class="form-control cor-input rounded-4" value="@Model.DATANASCIMENTO.ToString("yyyy-MM-dd")" name="DATA" id="DATA">
                        <p id="mensagem"></p>
                    </div>

                    <textarea name="DESCRICAO" class="form-control rounded-4 cor-input" id="exampleFormControlTextarea1" rows="3" style="resize:none" >
                        @Model.DESCRICAO
                      </textarea>

                    <div class="text-end">
                        <button type="submit" class="btn rounded-4 cor-input mt-3">
                            Editar
                        </button>
                    </div>
                </div>
                

            </div>



            
        </div>
    </form>
</div>


