@model PI3.Entidades.Pets

<link rel="stylesheet" href="~/css/outrocss.css">


<div class="d-flex min-vh-100 justify-content-center align-items-center">
    <form action="/Pets/SalvarDados" class="col-0 pt-5 pt-md-0 col-md text-center" method="post" enctype="multipart/form-data">
        <input type="hidden" value="@Model.UsuarioId" name="UsuarioId" />
        <input type="hidden" value="@Model.Id" name="Id" />
        <h1 class="fw-bold pb-4 pb-md-5">CADASTRE UM PET</h1>
        <div class="col-10 mx-auto">
            <div class="mb-2 text-center text-md-start">
                <label for="nome" class="form-label ms-md-3">Nome</label>
                <input name="NOME" value="@Model.NOME" type="text" id="" class="form-control rounded-5" placeholder="Qual o nome do pet?"
                       style="background-color: #D9A273; border: none;">
            </div>
            <div class="mb-2 pt-2 text-center text-md-start">
                <label for="raca" class="form-label ms-md-3">Raça</label>
                <input name="RACA" value="@Model.RACA" type="text" id="" class="form-control rounded-5"
                       placeholder="Digite a raça do Pet aqui."
                       style="background-color: #D9A273; border: none;">
            </div>

            <div class="mb-2 pt-2 text-center text-md-start">
                <label for="raca" class="form-label ms-md-3">Foto</label>
                <input type="hidden" name="CaminhoImagem" value="@Model.CaminhoImagem" />
                <img src="~/upload/@Model.CaminhoImagem" />
                <input name="Imagem" type="file" id="" class="form-control rounded-5"
                       placeholder="Digite a raça do Pet aqui."
                       style="background-color: #D9A273; border: none;">
            </div>

            <div class="row">
                <div class="mb-3 col-6 text-center text-md-start">
                    <label for="peso" class="form-label ms-md-3">Peso</label>
                    <input name="PESO" value="@Model.PESO" type="text" id="" class="form-control rounded-5"
                           placeholder="Digite o peso do Pet em KG."
                           style="background-color: #D9A273; border: none;">
                </div>
                <div class="col-6 text-center text-md-start">
                    <label for="idade" class="form-label ms-md-3">Nascimento</label>
                    <input name="DATANASCIMENTO" type="date" id="" value="@Model.DATANASCIMENTO.ToString("yyyy-MM-dd")" class="form-control rounded-5" placeholder="Qual Idade do Pet?"
                           style="background-color: #D9A273; border: none;">
                </div>
            </div>
            <div class="mb-3 text-center text-md-start">
                <label for="senha" class="form-label ms-md-3">Descrição</label>
                <textarea name="DESCRICAO" class="form-control rounded-4" id="exampleFormControlTextarea1" rows="5"
                          placeholder="Escreva algo sobre o Pet..."
                          style="background-color: #D9A273; border: none; resize: none;">
                      @Model.DESCRICAO
                      </textarea>

            </div>
            <div class="pb-4 mt-1 d-flex justify-content-center justify-content-md-end">
                <button type="submit" id="" class="btn btn-lg rounded-5 fs-6" data-bs-toggle="modal"
                        data-bs-target="" style="background-color: #D9A273; border: none;">
                    Salvar
                </button>
            </div>
        </div>

    </form>
</div>


